<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- site meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <% if (locals.siteTitle) { %> <%= siteTitle %> <% } else { %> HTML Site
      Title<% } %>
    </title>

    <!-- Favicon -->
    <link rel="icon" href="/images/general/favicon.ico" type="image/gif" />

    <!-- font css -->
    <link
      href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2:400,600,700|Poppins:400,600,700&display=swap"
      rel="stylesheet"
    />
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- personal css -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <p>header-partial is working!</p>
    </header>
  </body>
</html>
