<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- site meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <% if (locals.siteTitle) { %> <%= siteTitle %> <% } else { %> HTML Site
      Title<% } %>
    </title>

    <!-- Favicon -->
    <link rel="icon" href="/images/general/favicon.ico" type="image/gif" />

    <!-- font css -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- personal css -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <img src="/images/general/logo.png" class="brand_logo" alt="" />
      <nav class="navbar container navbar-expand-lg">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-togg
            -äölkj
            hgfle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="#">erfahrungen</a>
              <a class="nav-link" href="#">angebot</a>
              <a class="nav-link" href="#">über rypla</a>
              <a class="nav-link" href="#">kontakt</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
