<%- include('partials/header.ejs') %>

<div id="title_section">
  <img src="/images/general/berge.png" class="title_img" alt="Bergpanorama" />
</div>

<div id="references_section">
  <div class="container">
    <h2>erfahrungen</h2>
    <!-- container 1    -->
    <div class="container experience_card left remove_padding">

      <div class="row">
        <div class="col col-sm-4 remove_padding"><h4>Objekt</h4></div>
        <div class="col"><p>Schulhausbau</p></div>
      </div>

        <div class="row">
            <div class="col col-sm-4 remove_padding"><h4>Funktion</h4></div>
            <div class="col"><p>Projekt- und Bauleitung</p></div>
        </div>

        <div class="row">
          <div class="col col-sm-4 remove_padding"><h4>Tätigkeiten</h4></div>
          <div class="col">
            <p>
                Baueingabe, Ausführungs- & Detailplanung, Koordination der Planer,
              Austausch mit Behörden und Bauherrn
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col col-sm-4 remove_padding"><h4>Bausumme</h4></div>
          <div class="col">
            <p>
                ca. 6 Mio.
            </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="services_section"></div>

<div id="contact_section"></div>

<%- include('partials/footer.ejs') %>
