<%- include('partials/header.ejs') %>

<div id="title_section">
  <img src="/images/general/berge.png" class="title_img" alt="Bergpanorama" />
</div>

<div id="references_section"></div>

<div id="services_section"></div>

<div id="contact_section"></div>

<%- include('partials/footer.ejs') %>
