body {
    font-family: "Noto Serif Georgian", serif;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0 10% 40px 10%;
    color: #267491;
}

h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #082d3a;
    height: 100%;
    margin: 1px 10% 10px 10%;
}

h4 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 800;
    color: #beb4aa;
}

p {
    margin: 15px 10% 15px 10%;
}

.remove_padding {
    padding: 0;
}

/* Header */ 

header {
    text-align: center;
}

.brand_logo {
    width: 230px;
}

.container-fluid {
    padding: 0;
}

.navbar {
    padding: 0 10% 0 10%;
    margin-bottom: 30px;
}

.navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 2px #267491;
}

.nav-link {
    font-weight: 600;
    color: #267491;
    font-size: 1.5rem;
}

#contact_section {
    height: 100vh;
    background-color: #a7b8b5;
    opacity: 0.2;
}

/* title section */

#title_section {
    text-align: center;
}

.title_img {
    width: 55%;
    margin-bottom: 60px;
}

/* services section */

#services_section {
    background-color: rgba(167, 184, 181, 0.3);
    padding-top: 150px;
    padding-bottom: 150px;
}
/*

--> experience section <---

.experience_card {
    border: 1px solid #082d3a;
    width: 450px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.experience_card .row {
    margin: 0;
}

.experience_card p {
    height: 100%;
    margin: 0;
}
*/

/* about section */

#about_section {
    padding-top: 150px;
    padding-bottom: 150px;
}

.about_grid {
    margin: 15px 10% 15px 10%;
    display: grid;
    grid-template-columns: 25% 37.5% 37.5%;
    grid-auto-rows: auto;
}
.item-1 {
    display: flex;
    align-items: center;
}

.about_grid img {
    border-radius: 50%;
    border: 1px solid #082d3a;
    max-width: 180px;
}

.item-2 {
    grid-area: 1 / 2 / 2 / 4;
}

.about_text p {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
}

.item-3 {
    grid-area: 2 / 2 / 3 / 4;
    justify-self: end;
    margin-top: 20%;
}

.history {
    display: flex;
}

.work_experience {
    text-align: right;
    grid-template-rows: repeat(9, auto);
}

.work_experience, .education {
    display: grid;
    width: 300px;
    grid-template-columns: 1fr;
    gap: 20px;
}

.education {
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
}


.job {
    
}

.when, .where, .what {
    margin: 0;
    line-height: 1.2;
}

.where {
    font-weight: bold;
}

.what {
    color: #267491;
}

.vertical_line {
    width: 1px;
    height: auto;
    background-color: #082d3a;
    margin: 30px 10px 0 10px;
}

.edu-1{
    grid-row: 3;
    
}

.edu-2{
    grid-row: 5;
    
}

.edu-3{
    grid-row: 8;
    
}

.edu-4{
    grid-row: 9;
    
}


/* Footer */ 

footer{
    height: 30vh;
    background-color: #082d3a;
    margin: 0;
    padding: 0 5% 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p, a {
    color: #cfc5bc;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.contact_info {
    display: flex;
    flex-direction: column;
    max-height: auto;
}

.contact_info a {
    margin: 10px 0 10px 0;
}

.contact_info a:hover {
    color: #a7b8b5;
}

.footer_links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4% 0 2% 0;
}

.footer_links a {
    text-align: right;
    margin: 0;
}

.footer_links a:hover {
    color: #a7b8b5;
}